@import "create";
@import "new";
@import "reviews";
@import "show";
@import "user";

.notifications {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1001;

  .notice {
    background-color: rgb(173, 169, 163);
  }

  .alert {
    background-color: #FF3300;
  }
}