.base {
  min-height:100vh;
  background-size: cover;
  background-image: url(write.jpg);
}

@media screen and (orientation: portrait) {
  .base {
    background-image: url(write2.jpg);
  }
}


.box {
  padding-top: 5%;
}

@media screen and (orientation: portrait) {
  .box {
    padding-top: 50%;
  }
}

.form-name{
  text-align: center;
  font-size: 2.5em;
}

.contact-form {
  margin:0 auto;
  width: 60%;
}

@media screen and (orientation: portrait) {
  .contact-form {
    width: 80%;
  }
}

.image_field {
  padding-bottom: 20px;
}

.image_file {
  padding-top: 1%;
  opacity: 0.6;
}

.book_name_block {
  padding-bottom: 20px;
}

.book-name_field {
border: 1px ridge black;
box-sizing: border-box;
width: 50%;
height: 30px;
border-radius: 6px;
outline: none;
background-color: rgba(255, 255, 255, 0.55);
}

input {
  font-size: 32px;
}

textarea {
  font-size: 32px;
}

.book_review_block {
  padding-bottom: 20px;
}

.book-review_area {
  border: 1px ridge black;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  border-radius: 6px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.55);
}

.review_submit_box {
  padding-bottom: 5%;
}

.review_submit {
border: none;
outline: none;
display: block;
line-height: 30px;
width: 160px;
text-align: center;
font-size: 13px;
color: #fff;
background-color: #696;
border-bottom: 4px solid #464;
cursor:pointer;
transition:0.1s ease all;
border-radius: 20px;
margin: 0 auto;
}

@media screen and (orientation: portrait) {
  .review_submit {
    font-size: 1.5em;
    width: 250px;
    height: 50px;
  }
}
