<div class = user_base>
  <div class="contents-create">
    <div class="success">
      <h3>
        投稿ありがとうございました！
      </h3>
      <a class="cp_btn2" href="/reviews">トップページへ戻る</a>
    </div>
  </div>
</div>