    <body>
      <div class=wallpaper>
        <div id="menu" class="big-bg">
            <header class="page-header wrapper">
            </header>
            <div class="menu-content wrapper">
                <h2 class="page-title">BOOK SALON</h2>
                <p>
                    お気に入りの本を紹介しましょう！　
          <a class="cp_btn" href="/reviews/new">書評を書く</a>
                </p>
            </div>
        </div>

        <div class="wrapper grid">

        <% @reviews.each do |review| %>
            <div class="item">
            <%= link_to "/reviews/#{review.id}", target: "_blank" do %>
          <img src="<%= review.image %>" alt="">
          <%= "#{review.name}" %>
          <% end %>
            </div>
        <% end %>
        <%= paginate(@reviews) %>
      </div>
        <footer>
            <div class="wrapper">
                <p><small>&copy; 2019 Nagao</small></p>
            </div>
        </footer>
    </body>
</html>
