        <div id="menu2" class="big-bg">
        <div class="wrapper grid">

        <% @reviews.each do |review| %>
            <div class="review_item">
            <%= link_to "/reviews/#{review.id}", class: "review_link_to" do %>
          <img src="<%= review.image %>" alt="">
          <div class=review_book_name>
          <p><%= "#{review.name}" %></p>
          </div>
          <% end %>
            </div>
        <% end %>
      </div>
      <div class="paginate_box">
        <%= paginate(@reviews) %>
        </div>
        </div>
                <footer>
            <div class="wrapper">
                <p><small>&copy; 2019 Nagao</small></p>
            </div>
        </footer>