 <div class=base2>
 <div class=box2>
  <div class="book-image">
    <img src="<%= @review.image %>" alt="">
  </div>
  <div class="review-contents">
    <%= simple_format(@review.text) %>
  </div>
  </div>
</div>